<div class="form-container" style="display: inline">
        <label>Login:
            <input size="10" style="padding: 3px; border-radius: 2px; border: 1px solid silver"/>
        </label>
        <label>Hasło:
            <input size="10" style="padding: 3px; border-radius: 2px; border: 1px solid silver"/>
        </label>
</div>