<div id="search-tracks-form" style="width: 500px;">
    <div class="w2ui-page page-0">
        <div class="w2ui-field">
            <label style="width: 140px; margin-right: 10px;">Przystanek początkowy:</label>
            <div>
                <input name="start_point" type="list" style="width: 90%"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label style="width: 140px; margin-right: 10px;">Przystanek końcowy:</label>
            <div>
                <input name="end_point" type="list" style="width: 90%"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label style="width: 140px; margin-right: 10px;">Czas wyjazdu:</label>
            <div>
                <input name="start_time" type="text" style="width: 90%"/>
            </div>
        </div>
    </div>

    <div class="w2ui-buttons">
        <button class="btn" name="reset">Wyczyść</button>
        <button class="btn" name="save">Wyszukaj</button>
    </div>
</div>