<div id="search-bus-form" style="width: 480px; height: 50px;">
    <div style="float:left; width: 300px">
            <label style="width: 70px; margin-right: 10px; float: left;">Przystanek:</label>
            <div>
                <input name="bus_stop" type="list" style="width: 90%"/>
            </div>
    </div>
    <div style="float:right">
        <button class="btn" name="save">Wyszukaj</button>
    </div>
</div>